body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }

  #h1{
    color: #333;
    text-align: center;
    padding: 20px;
    background-color: #ffc107;
  }
  
  #container {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin: 20px;
    text-align: center;

  }
  
  label {
    font-weight: bold;

  }
  
  input[type="number"] {
    width: 100px;

  }
  
  button {
    
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #resultado {
    margin-top: 20px;
  }